@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mona), var(--font-inter), Arial, Helvetica, sans-serif;
  font-feature-settings:
    "ss01" on,
    "ss05" on,
    "ss06" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@theme {
  --font-inter: var(--font-inter), Arial, Helvetica, sans-serif;
  --font-mona: var(--font-mona), Arial, Helvetica, sans-serif;
  --font-geist-mono: var(--font-geist-mono), Arial, Helvetica, sans-serif;
}
